<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ValidadorServlet</servlet-name>
  	<display-name>ValidadorServlet</display-name>
  	<description></description>
  	<servlet-class>controlador.ValidadorServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AgendarCitaServlet</servlet-name>
  	<display-name>AgendarCitaServlet</display-name>
  	<description></description>
  	<servlet-class>controlador.AgendarCitaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SimpleRutServlet</servlet-name>
  	<display-name>SimpleRutServlet</display-name>
  	<description></description>
  	<servlet-class>controlador.SimpleRutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ValidadorServlet</servlet-name>
  	<url-pattern>/ValidadorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AgendarCitaServlet</servlet-name>
  	<url-pattern>/AgendarCitaServlet</url-pattern>
  </servlet-mapping>
</web-app>
